
@model IEnumerable<User>

@inject IStringLocalizer<Program> StringLocalizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@inject IViewLocalizer ViewLocalizer;

@*@foreach(var user in Model) {
	<p>@user.Name : @user.Password</p>
}*@

<div>
	@using(Html.BeginForm("search", "users")) {
		@:Phrase @Html.TextBox("phrase") <br>
		<input type="submit" value="Search" class="btn" />

		@*@Html.AntiForgeryToken()*@
	}
</div>
<div>
	<form asp-action="search" asp-antiforgery="false">
		<input type="text" name="phrase" />
		<input type="submit" value="Search" class="btn" />
	</form>
</div>

<div>
	<table class="table">
		<thead>
			<tr>
				@await Html.PartialAsync("_UserHeader", new User())
			</tr>
		</thead>
		<tbody>
			@foreach(var user in Model) {
				<tr>
					@await Html.PartialAsync("_UserBody", user)
					<th>
						@Html.ActionLink("Edit", "Edit", "Users", new {user.Id})
						@Html.ActionLink("Delete", "Delete", "Users", new {user.Id})
					</th>
				</tr>
			}
		</tbody>
	</table>
</div>